
.navbar-custom{
    
    height: 10vh;
    
    
}

.navbar-custom a {

    font-size: x-large;
}

.navbar-nav{

    gap: 20px;
   
}


.header-custom{

    background-image: url(/public/immagini/header.png);
    background-position: center;
    background-size: cover;
   
    height: 60vh;
}

.header-custom h1{

    padding-top: 10%;
}
    

.active{

    transform: scale(1.1) !important;
    background-color: rgba(245, 222, 179, 0.516) !important;
    border-radius: 10px;
}
