
.navbar-custom{
    
    height: 10vh;
    
    
}

.navbar-custom a {

    font-size: x-large;
}

.navbar-nav{

    gap: 20px;
    transform: 0.6s all;
}
   
.navbar-nav li:hover{

    transform: scale(1.1);
}

.nav-item{

    transform: 0.6s all;
}

.nav-item a:hover{

    color: wheat !important;
    background-color: transparent;
}
    


.header-custom{

    background-image: url(/public/immagini/header.png);
    background-position: center;
    background-size: cover;
   
    height: 60vh;
}

.header-custom h1{

    padding-top: 10%;
}
    

.active{

    background-color: rgba(245, 222, 179, 0.516) !important;
    border-radius: 10px;
}

.linkCustom{

    text-decoration: none;
    color: gray;
}